<ion-view view-title="Perfil">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/trees.jpg');">
            <div class="content">
                <div class="avatar box1" style="background-image: url('img/tyrion.jpg');"></div>
                <div class="avatar box2" style="background-image: url('img/daenerys.jpg');"></div>
                <div style="display: -webkit-box; width: 100%">
                    <div class="left">
                        <h3><a class="light">Tyron Lanister</a></h3>
                        <h4>knight</h4>
                    </div>
                    <div class="right">
                        <h3><a class="light">Daenerys Targaryen</a></h3>
                        <h4>dragon_mommy</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Notificaciones
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Galeria de fotos
            </a>
            <a ui-sref="app.prueba" class="tab-item">
                <i class="icon ion-android-chat"></i> Chat
            </a>
        </div>
        <h4 class="content padding double-padding-x">Clicks Recientes</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Calvimontes</h2>
                <p class="red"> <strike>click rechazado</strike></p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/girl1.jpg">
                <h2>Alexandra Sanchez</h2>
                <p class="green">click aceptado</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/girl2.jpeg">
                <h2>Maria Arostegui</h2>
                <p class="green">click aceptado</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/girl3.jpg">
                <h2>Beatriz Suarez</h2>
                <p class="red"> <strike>click rechazado</strike></p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/girl4.jpeg">
                <h2>Zamba Maye</h2>
                <p class="green">click aceptado</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/girl5.jpg">
                <h2>Sakura Wang</h2>
                <p class="green">click aceptado</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
